{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}
    {% call card.render('Editar Produto', 'product-create container') %}
    <form method="POST" action="/products?_method=PUT" enctype="multipart/form-data">

        <div class="fields">
            {% include "products/fields.njk" %}

            <input type="hidden" name="id" value="{{ product.id }}">
        </div>

        <button type="submit" class="button edit">Atualizar</button>
    </form>

    <form id="form-delete" method="POST" action="/products?_method=DELETE">
        <input type="hidden" name="id" value="{{ product.id }}">

        <button type="submit" class="button delete">Deletar</button>
    </form>
    {% endcall %}

    <script src="/js/confirm-delete.js"></script>
{% endblock %}